section.single-top {
    width: $content-width;
    margin:0 auto;
    
    .row {
        align-items: stretch;
        height: 100%;
        padding:80px 0;
    }
    .col {
    }
    .right {
        display:flex;
        flex-direction: column;
        justify-content: center;
        div {
        }
        .maintext {
            flex-basis:30%;
            font-size:32px;
            line-height:40px;
        }
        .subtext {
            padding: 10px 0 5px;
            flex-basis: 10%;
        }
        .link {
            flex-basis: 20%;
            padding-top:10px;
            a {
                font-family: "futura-pt-bold";
            }
        }        
    }
    .left {
        position:relative;
        min-height:400px;
        
        @media (max-width: $break-medium) {
        }
        
        .circle-wrapper {
            width:100%;
            height:100%;
            position:relative;
            .circle {
                position:absolute;
                width:360px;
                height:360px;
                left:160px;
                background-color: $background-orange;
                border-radius:50%;
                z-index:-1;
            }
            .texts {
                position:absolute;
                top:16%;
                left:0;
                right:0;
                bottom:0;
                width:410px;
                h1 {
                    font-size:23px;
                    font-weight:bold;
                    font-family: "futura-pt-bold";
                    margin-bottom:12px;
                    color:$sub-font-color;
        
                }
                h2 {
                    color:#000;
                    font-size:72px;
                    line-height:80px;
                    text-transform: uppercase;
                    font-family: 'futura-pt-bold';
                    
                    @media (max-width: $break-small) {
                        font-size:40px;
                        line-height:42px;
                    }
                }
            }
        }
        
    }
}