{{ define "main" }}

    <main aria-role="main">
      <header class="homepage-header">
      </header>
      <div class="doi">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{ with .Site.Data.doi }}
          {{ with .top }}
            {{ partial "single/top.html" . }}
          {{ end }}
          
          {{ partial "doi/graphics_what.html" . }}

          {{ with .statistics }}
            {{ partial "doi/how_many.html" . }}
          {{ end }}
          
          
          {{ partial "doi/graphics_why.html" . }}

          {{ with .what }}
            {{ partial "doi/what.html" . }}
          {{ end }}
          
          {{ with .benefits }}
            {{ partial "doi/benefits.html" . }}
          {{ end }}

          {{ with .growth_graph }}          
            {{ partial "doi/growth_graph.html" . }}
          {{ end }}

          {{ with .infos }}
            {{ partial "single/infos.html" . }}
          {{ end }}

          {{ with .how_get }}
            {{ partial "doi/how_get.html" . }}
          {{ end }}

          {{ with .hits_graph }}
            {{ partial "doi/hits_graph.html" . }}
          {{ end }}

          {{ with .standards }}
            {{ partial "doi/standards.html" . }}
          {{ end }}
          
          {{ with .world_map }}
            {{ partial "doi/world_map.html" . }}
          {{ end }}
          
          {{ with .visualisations }}
            {{ partial "doi/visualisations.html" . }}
          {{ end }}
          
        {{ end }}

        
        {{ partial "socials-side.html" . }}
      </div>
    </main>
    
    {{ partial "svg-animations-js.html" . }}
      
    {{ partial "numbers-graphs-js.html" . }}
    
{{ end }}