{{ if .Params.showdate }}
<note aria-role="note">
	<div class="page-content">
		Updated {{ dateFormat "January 2, 2006" .Params.date }}
	</div>
</note>
{{ end }}

<footer>
	<div class="row">
		<div class="col">
			<a href="{{ .Site.BaseURL }}"><img class='footer-logo' src="/images/logos/
footer_logo_cropped_registered.svg" /></a>
		</div>
		<div class="col">
			<ul>
			{{ range .Site.Data.footer.links_column_left.links}}
				<li><a href="{{ .url }}">{{ .title }}</a></li>
			{{ end }}
			</ul>
		</div>
		<div class="col">
			<ul>
			{{ range .Site.Data.footer.links_column_right.links}}				
				<li><a href="{{ .url }}">{{ .title }}</a></li>
			{{ end }}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col copyright">
			{{ with .Site.Data.footer.copyright_text }}
				{{ partial "footer-partials/copyright_text.html" . }}
			  {{ end }}
		</div>
		<div class="col socials">
			{{ partial "socials-footer.html" . }}
		</div>
	</div>
</footer>

<script src="/js/script.js"></script>
