.row {
  border: 1px solid orange;
  display: flex; }

.column {
  border: 1px solid green;
  flex: 1; }
  .column .content {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid red; }

@media screen and (max-width: 720px) {
  .column {
    flex: none; } }
