<div class="handbook-subnav">
	<h3>Table of Contents</h3>
	<ul>
		<li><a href="1_Introduction">1 Introduction</a></li>
		
		<li><a href="2_Numbering">2 Numbering</a></li>
		
		<li><a href="3_Resolution">3 Resolution</a></li>
		
		<li><a href="4_Data_Model">4 Data Model</a></li>
		
		<li><a href="5_Applications">5 Applications</a></li>
		
		<li><a href="6_Policies">6 Policies</a></li>
		
		<li><a href="7_IDF">7 International DOI Foundation</a></li>
		
		<li><a href="8_Registration_Agencies">8 Registration Agencies</a></li>
		
		<li><a href="9_Operating_Procedures">9 Operating Procedures</a></li>
		
		<li><a href="Glossary">Glossary of Terms</a></li>
		
		<li><a href="Bibliography">Bibliography</a></li>
	</ul>
</div>