<div class="handbook-subnav sticky-md-top">
	<strong>Table of Contents</strong>
	<ul>
		<li><a href="/the-identifier/resources/handbook/1_introduction">1: Introduction</a></li>
		
		<li><a href="/the-identifier/resources/handbook/2_numbering">2: Numbering</a></li>
		
		<li><a href="/the-identifier/resources/handbook/3_resolution">3: Resolution</a></li>
		
		<li><a href="/the-identifier/resources/handbook/4_data_model">4: Data Model</a></li>
		
		<li><a href="/the-identifier/resources/handbook/5_applications">5: Applications</a></li>
		
		<li><a href="/the-identifier/resources/handbook/6_policies">6: Policies</a></li>
		
		<li><a href="/the-identifier/resources/handbook/7_idf">7: International DOI Foundation</a></li>
		
		<li><a href="/the-identifier/resources/handbook/8_registration_agencies">8: Registration Agencies</a></li>
		
		<li><a href="/the-identifier/resources/handbook/9_operating_procedures">9: Operating Procedures</a></li>
		
		<li><a href="/the-identifier/resources/handbook/glossary">Glossary of Terms</a></li>
		
		<li><a href="/the-identifier/resources/handbook/bibliography">Bibliography</a></li>
	</ul>
</div>