<section class="communities">
    
    <div class="row">

    {{ range sort . "weight" }}
        <div class="col" >
            <div class="logo">
                <div style="background-image: url({{ .logo }});">
                </div>
            </div>
            <div class="texts">
                <div class="maintext">{{ .maintext | markdownify }}</div>
                {{ if .linkurl }}
                <a class="linkurl" href="{{ .linkurl }}">
                    <span>{{ .linktext }}</span>
                    <span class="material-symbols-outlined">arrow_right_alt</span> 
                </a>
                {{ end }}
            </div>
        </div>
    {{ end }}
    
</section>