<section class="who-can-apply">
    <div class="row">
        <div class="col left">
            <div class="title">
                {{ .title }}
            </div>
            <div class="toptext">
                {{ .toptext | markdownify}}
            </div>
            <div class="specials">
                {{ range .keypoints }}
                    <div class="col" >
                            <div class="icon-wrapper">
                                <div class="icon" style="background-image: url({{ .icon }});"></div>
                            </div>
                            <div class="text">{{ .text }}</div>
                    </div>
                {{ end }}
            </div>
            <div class='bottomtext'>{{ .bottomtext }}</div>

            <div class='link'>
                <a href="{{ .linkurl }}">{{ .linktext }}</a>
               <i class="fa-solid fa-fw fa-arrow-right-long"></i>           
            </div>
        </div>
        <div class="col right"></div>
        
    </div>
</section>
