section.home-announcement {
    background-color: $background-blue;
    
    .row {
        width: $content-width;
        margin:0 auto;
        color:#fff;
        align-items: center;
        height: 100%;
    }
    h2.title {        
        font-family: "futura-pt-bold"; 
        font-size: 21px;      
        color: #fff;
    }
    .link-alt {
        font-family: "futura-pt-bold";
        transition: all 0.2s ease-in-out; 
        a + .hover-move-right {
            transition: all 0.1s ease-in-out; 
        }
        a:hover + .hover-move-right {
            padding-right:30px;
            padding-left:50px;            
            transition: all 0.2s ease-in-out; 
        }
    }
    .title, .maintext, .link-alt {
        margin-bottom:20px;
    }
    .left {
        flex-basis:40%;
        height:100%;
        .wrapper {
            background-color:#fff;
            display:inline-block;
            border-radius: 50%;
            img {
                padding:30px;
            }
        }
    }
    
    .right {
        flex-basis:60%;
    }
}