section.home-announcement {
    background-color: $background-blue;
    
    .row {
        width: $content-width;
        margin:0 auto;
        color:#fff;
        align-items: center;
        height: 100%;
        padding: ($standard-padding * 2) 0;
        
        @media (max-width: $break-large) {            
            padding: $mobile-padding 0;
        }
    }
    h2.title {        
        font-family: "futura-pt-bold"; 
        font-size: 21px;      
        color: #fff;
    }

    .left {
        flex-basis:40%;
        height:100%;
        
        .wrapper {
            background-color:#fff;
            display:inline-block;
            border-radius: 50%;
            margin-bottom: ($standard-padding);
        
            img {
                padding:50px;
        
                @media (max-width: $break-small) {
                    width: 200px;
                }
        
            }
        }
    }
    
    .right {
        flex-basis:60%;
    }
    
    .maintext {
        padding-bottom: 20px;
    }
}