section.home-banner {
	background-color: #C7D5ED;
	padding: .5rem 0;
	color: black;
	margin: 0 auto;	
	
	p {
		margin: 0 !important;
		padding: 0;
	}
	
	a {
		color: black;
		font-weight: 600;
	}
	
	i {
		font-size: 14px;
	}
}