.bios {
    
    figure { 
        
        float: left;
        padding-right: 1em;
        
        img {
            border-radius: 50%;
            height: 200px;
        }
    }
    
    >[class~='row']:first-of-type {
        padding-top: 0;
    }
    
    .bio-link {
        display: block;
        
        .fa, .fa-brands {
            margin-right: .75em;
        }
    }
    
}