.bios {
    
    figure img {
        border-radius: 50%;
    }
    
    .bio-link {
        display: block;
        
        .fa {
            min-width: 1.5em;
            margin-right: .5em;
        }
    }
    
}