section.communities {
    background-color: $background-grey;
    
    min-height:60vh;
    .row {
        width: $content-width;
        margin:0 auto;
        column-gap: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
        padding: 120px 0;
        .col {
            &.last-odd-filler {
                visibility:hidden;
                @media (max-width: $break-large) {
                    display:none;
                }
            }
            @media (max-width: $break-large) {
                width:100%;
                margin-bottom:40px;
            }
            flex-basis:49%;
            text-align:center;
            background-color:#fff;
            box-shadow: 0 0 6px rgba(0,0,0,0.15);
            display:flex;
            flex-direction:column;
            justify-content: center;
            padding: 0 40px 40px 40px;
            .logo {
                height:150px;
                align-items:center;
                display:flex;
                justify-content: center;
                div {
                    width:50%;
                    height:50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position:center;
                    @media (max-width: $break-medium) {                        
                        width:60%;
                        height:60%;
                    }
                }
            }
            .texts {
                flex:1;
            }
        }
        
        
    }
}