.doi {
    
    section {
    }

    .graphics-what {
        z-index:0;
        position:relative;
        padding: $standard-padding 0;
        background-color:$background-grey;
        .image {
            transition: all 0.2s;
            &:hover {
                transform: scale(1.1);
            }
        }
        .doi-example {
            display:inline-block;
            margin-top:20px;
            border:4px solid $background-blue;
            padding:10px 20px;
            font-family: "futura-pt-bold";
            font-size: 18px;  
            color: $background-blue;
            
            @media (max-width: 800px) {
                padding: 5px 10px;
            }
        }
        .title {     
            font-size: 40px;            
            font-family: "futura-pt-bold";
            text-transform: uppercase;
            text-align:center;
            padding-bottom:$standard-padding;            
            position:relative;
            background-color:$background-grey;
            margin: 0;
            color:#000;
        }
        .graphics-wrapper {
            position:relative;
            background-color:$background-grey;
            z-index:-3;
            padding-top:$standard-padding;
            .row {
                width: $content-width;
                margin: 0 auto;
                display:flex;
                justify-content:center;
                padding:0;
                div {
                    flex:0 1 30%;
                    text-align:center;
                    
                    @media (max-width: 800px) {
                        flex: 0 1 100%;
                    }
                }
                
                @media (max-width: 800px) {
                    padding-bottom: $mobile-padding;
                }
            }
            .circle-line {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index:-2;
                
                @media (max-width: 800px) {
                    width: 20%;
                }
            }
        }
    }

    .graphics-why {
        z-index:0;
        position:relative;
        padding-bottom:$standard-padding;
        .title {           
            font-size: 40px;            
            font-family: "futura-pt-bold";
            text-transform: uppercase;
            text-align:center;
            position:relative;
            color:#000;
            margin-top: 0;
        }
        .image {
            
            transition: all 0.2s;
            &:hover {
                transform: scale(1.1);
            }

            img { 
                height: 140px;
                width: auto;
            }
        }
        .graphics-wrapper {
            position:relative;
            background-color:transparent;
            
            .row {
                width: $content-width;
                margin: 0 auto;
                display:flex;
                justify-content:center;
                padding:0;
                div {
                    flex:0 1 30%;
                    text-align:center;
                    
                    @media (max-width: 800px) {
                        flex:0 1 100%;
                    }
                }
                
                @media (max-width: 800px) {
                    padding-bottom: $mobile-padding;
                }
            }
            .circle-line-lower {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index:-2;
                
                @media (max-width: 800px) {
                    width: 20%;
                }
            }
        }
    }
    .graphics-why, .graphics-what {
        .texts {
            .main {
                margin-top:20px;
                font-family: "futura-pt-bold";
                font-size: 21px;    
                color:#000;
                
                @media (max-width: 700px) {
                    margin-top: 10px;
                    font-size: inherit;
                }        
            }
            .sub {
                font-size: 18px; 
            }
        }
    }


    // .doi .how-many has been moved to _how-many.scss since it is now shared with home
  
  
    .what-is {
        background-color: $background-grey;

        .title {
            display:block;            
            font-family: "futura-pt-bold";
            font-size:21px;
            margin-bottom: $standard-padding;
        }
        .what-is-logo {
            position:relative;
            width:500px;
            
            @media (max-width: $break-large) {                
                width:500px;
            }
        }
    


        .row {
            width: $content-width;
            margin: 0 auto;
            .col {
                align-self: center;
                .bullet-wrapper {                    
                    font-family: "futura-pt-bold";
                    color:#000;
                    display:flex;
                    align-items: center;
                    margin:$standard-padding 0 0;
                    .index {
                        color:#fff;
                        width:70px;
                        height:70px;                    
                        border-radius:50%;
                        font-family: "futura-pt-bold";
                        font-size: 40px;
                        display: inline-flex; /* or inline-flex */
                        align-items: center; 
                        justify-content: center;
                        margin-right:$standard-padding;
                        flex-shrink:0;
                        transition: all 0.2s;
                    }
                }
            }
            .col.left {
                padding-right: 120px;               
            }
            .col.right {
                @media (max-width: $break-large) {
                    padding-top: 0;
                }
            }
        }

    }
    .benefits {
        width: $content-width;
        margin:0 auto;
        .heading {
            font-family: "futura-pt-bold";
            font-size:21px;
        }
        .row {
            
            padding: $standard-padding 0 0 0;
            
            @media (max-width: $break-large) {
                padding: $mobile-padding 0 0 0;
            }
            
            &.benefit-wrappers {
                padding-top: 0;
                padding-bottom: $standard-padding;
                
                @media (max-width: $break-large) {
                    padding-bottom: $mobile-padding;
                }
            }
            
            .col {
                .title {                             
                    font-family: "futura-pt-bold";
                    font-size:21px;
                }
                .icon {
                    color:#000;
                    
                    font-size: 32px;
                    display: inline-flex; /* or inline-flex */
                    align-items: center; 
                    justify-content: center;

                    padding: 11px 7px;
                    border-radius:50%;
                    background-color: $background-orange;

                    @media (max-width: $break-large) {
                        margin-top:$standard-padding;
                    }

                }
            }
        }
        
    }
    

    .growth-graph {
        .row {
            width:$content-width;
            margin:0 auto;
        }
        
        .row:first-of-type {
            padding-bottom:0;
        }
        .row:last-of-type {
            padding-top:0;
        }
        .title {
            text-align:center;
        }
        .heading {
            font-family: "futura-pt-bold";
            font-size:21px;
        }
        .graph {
            text-align:center;
            #doi-resolutions {
                //min-height:50vh;
            }
        }
    }
    .map-graph {
        background-color:$background-grey;
        .row {
            width:$content-width;
            margin:0 auto;
        }
        .row:first-of-type {
            padding-bottom:0;
        }
        .title {
            text-align:center;
        }
    }
    .hits-graph {
        .row {
            width:$content-width;
            margin:0 auto;
        }
        .row:first-of-type {
            padding-bottom:0;
        }
        .row:last-of-type {
            padding-top:0;
        }
        .title {
            text-align:center;
        }
        background-color:$background-grey;
        .graph {
            text-align:center;
            #total-dois {
                //min-height:50vh;
            }
        }
        .row {            
            width:$content-width;
            margin:0 auto;
        }
        .heading {
            font-family: "futura-pt-bold";
            font-size:21px;
        }
        .image {
            text-align:center;
            img {
                width: 80%;
            }
        }
    }
    .how-get {
        
        background-position:bottom right;
        background-repeat:no-repeat;
        background-position-y: 40px;
        background-size: 500px;
        
        @media (max-width: $break-large) {
            background-size: 0;
        }
        z-index:-1;
        .title {                               
            font-family: "futura-pt-bold";
            font-size:21px;
        }
        h2 {
            font-size:21px;
        }
        h3 {
            font-size: 18px;
            color: $main-font-color;
            margin-bottom: 0;
        }
        .row {
            width:$content-width;
            margin:0 auto;
            padding-bottom:80px;
        }
        .col.left {
            flex:1 0 60%;
        }
        .col.right {
            flex:1 0 40%;
        }
    }
    .standards {
        width:$content-width;
        margin:0 auto;
        .title {                               
            font-family: "futura-pt-bold";
            font-size:21px;
            margin-bottom:20px;
        }
        .row {
            align-items: center;
        }
        .col.left {
            flex:1 0 60%;
        }
        .col.right {
            flex:1 0 40%;
            text-align:center;
            @media (max-width: $break-large) {
                margin-top:80px;
            }
            img {
                width:200px;
                height:auto;
            }
           
        }

    }
    .visualisations .row .content {
        text-align:center;
    }
    
}