/*Futura Fonts pulled from TypeKit that belongs to Reeve's design team*/
@import url("https://use.typekit.net/gcr6xms.css");

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    font-weight:700;
  }

body {
  font-family: 'futura-pt';
  font-size: 18px;
}

.page-content {

  strong {
    font-family: 'futura-pt-bold';
    font-weight: 700;
  }

  code {
    font-size: 1em;
    font-family: 'futura-pt';
    display: inline;
    background-color: $background-grey;
    padding: 2px 4px;
    margin: 0 -2px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  pre {
    display: block!important;
    font-size: 1em;
    font-family: 'futura-pt';
    display: inline;
    background-color: $background-grey;
    padding: 2px 4px;
    margin: 0 -2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
    code {
      display: block;
      background-color: none;
      border: 0;   
    }
    
  }

  ol, ul {
    padding-left: 1rem;
  
    li {
      margin-bottom: .5rem
    }
  }  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'futura-pt-bold';
  color: #000;
  margin-top: 2rem;
}

h1,
h2 {
  text-transform: uppercase;
}


