footer {

    margin-top: 4rem;
    background: #000;
    color:#fff;
    position:relative;
    .footer-logo {
        position:relative;
        width:320px;
        margin-bottom:30px;
        @media (max-width: $break-medium) {
            width:300px;
            position:relative;
            left:0;
        }
    }
    
    .row {
        width: $content-width;
        margin:0 auto;
    }
    @media (max-width: $break-large) {
        ul {
            padding-left:0;
            margin-bottom:0;
        }
    }
    ul li {
        list-style: none;
        a {
            line-height:40px;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "futura-pt-bold";
            color:#fff;
        }
    }

    a {
        text-decoration: none;
    }


    .copyright {
        flex-basis:80%;
        font-size:0.9rem;
    }
    .socials {
        flex-basis:20%;
        text-align:right;
       
        ul {
            li {
                list-style:none;
                display:inline-block;
                margin-left:20px;
                font-size:1.5rem;
            }
        }
    }


}