.handbook-subnav {

	margin-top: 30px;
	
	li a {
		font-family: 'futura-pt';
	}

	@media (min-width: 992px) {
		border-left: 1px solid #efefef;
		padding: 1em 0 1em 1em;
		margin: 1em 0 1em 1em;
	}	

}

.handbook article {
  flex: 1;
}

.tab-container {
  margin: 0px auto;
  position: relative;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: stretch;
  height:1000px;
  .col {
    display: flex;
    flex-direction: column;
    justify-content: top;

    
    
  }
  .col:nth-of-type(1) {
    border-right:1px solid #5c7292;
    flex: 1 0 0%;
    overflow:scroll;
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .col:nth-of-type(2) {
    width:300px;
    flex: 3 0 0%;
    overflow:scroll;
  }

  nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*align-items: stretch;*/
    /*background: #AD9897;*/
    color: black;
  }

  nav a {
    position: relative;
    padding: 12px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-family: futura-pt;
    /*white-space: nowrap;*/
  }
  nav.sub-nav {
    margin-left:20px;
    width:100%;
    font-size:16px;
  }
  nav.sub-sub-nav {
    margin-left:40px;
    width:100%;
    font-size:15px;
  }

  nav a:hover,
  nav a.selected {
    background: #5c7292 ;
    color: #fff;
  }

  .top-nav .sub-nav {
    display:none;
  }
  .top-nav .sub-nav .sub-sub-nav{
    display:none;
  }

  .top-nav.selected .sub-nav {
    display:flex;
  }
  .top-nav.selected .sub-nav.selected .sub-sub-nav {
    display:flex;
  }

  .tabs > .content {
    padding: 0 20px 20px 20px;
    position: relative;
    color: #6C5D5D;
    transition: opacity 0.1s linear 0s;
    display: none;
  }

  .tabs > .content.visible {
    display: block;
  }

  .tabs > .content p { 
    padding-bottom: 2px;
    &.note {
      &:before {
        content: "NOTE ";
        color:  #FAB608;
        font-weight:bold;
      }
      border: 1px solid grey;
      padding: 10px;
    }
  }

  .tabs > .content p:not(.note):last-of-type { padding-bottom: 0px; }

  
}

.tabs-content .content.visible{
  position:relative;
  .footnote {
    font-style: italic;
    display:flex;
    .fn-id {
      padding-right:4px;
    }
  }
  sup:has(.footnote-link){    
    background-color: #5c7292;
    color:#fff;
    border-radius: 1rem;
    a.footnote-link {
      font-family: futura-pt;
      color:#fff;
      padding: 0.25rem 0.3rem;
      text-decoration:none;
    }
  }
  .section-title {
    background-color: #5c7292;
    border:1px solid #5c7292;
    padding-left:20px;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    h2 {
      color: #fff;
    }
  }
  .chapters {
    display:none;
    &.visible {
      display:block;
    }
  }
  .sub-chapters {
    display:none;
    &.visible {
      display:block;
    }
  }
  details {
    interpolate-size: allow-keywords;

  
    &::details-content {
      transition:
        block-size 0.5s,
        content-visibility 0.5s allow-discrete;
      overflow: hidden;
      block-size: 0;     /* Or also:  height:0; */
    }
    
    &[open]::details-content {
      block-size: auto;  /* Or also:  height:auto; */
      padding-bottom:20px;
    }


    $chapter-padding-topbottom: 10px;
    $chapter-padding-leftright: 20px;

    &.chapters,
    &.chapter-chapters{
      padding-left:$chapter-padding-leftright;
      padding-right:$chapter-padding-leftright;
      &:first-of-type {
        padding-top:$chapter-padding-topbottom;
      }
      &:last-of-type {
        padding-bottom:$chapter-padding-topbottom;
      }
    }
    
    &.chapters {
      margin-left: 20px;
      background-color: rgba(92,114,146,0.05);
      
    }
    &.chapter-chapters {
      margin-left: 40px;
      background-color: rgba(92,114,146,0.05);
    }
  }
}

.p_GlossaryTerm {
  margin-bottom:0;

  .f_GlossaryTerm {
    font-family: 'futura-pt-bold';
  }
}

