.handbook-subnav {

	margin-top: 30px;
	
	li a {
		font-family: 'futura-pt';
	}

	@media (min-width: 992px) {
		border-left: 1px solid #efefef;
		padding: 1em 0 1em 1em;
		margin: 1em 0 1em 1em;
	}	

}

.handbook article {
  flex: 1;
}

.tab-container {
  margin: 0px auto;
  position: relative;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  align-items: stretch;
  .col {
    display: flex;
    flex-direction: column;
    justify-content: top;
  }
  .col:nth-of-type(1) {
    flex: 1 0 0%;
  }
  .col:nth-of-type(2) {
    width:300px;
    flex: 3 0 0%;
  }

  nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*align-items: stretch;*/
    /*background: #AD9897;*/
    color: black;
  }

  nav a {
    position: relative;
    padding: 12px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-family: futura-pt;
    /*white-space: nowrap;*/
  }

  nav a:hover,
  nav a.selected {
    background: #5c7292 ;
    color: #fff;
  }

  .tabs > .content {
    padding: 20px 20px 20px 60px;
    position: relative;
    color: #6C5D5D;
    transition: opacity 0.1s linear 0s;
    display: none;
  }

  .tabs > .content.visible {
    display: block;
  }

  .tabs > .content p { padding-bottom: 2px;}

  .tabs > .content p:last-of-type { padding-bottom: 0px; }
}

