.homepage-content {
    .how-many {
        background-color: $background-grey;
        .title {
            color:$main-font-color;
            font-size: 40px;            
            font-family: "futura-pt-bold";
            text-align:center;
            text-transform: uppercase;
        }
        .row.titlerow {
            padding-top:80px;
            padding-bottom:0;
        }
        .row.numbers {
            padding-top:20px;
            padding-bottom:80px;
        }
        .row {
            width:$content-width;
            margin:0 auto;
            .col {
                text-align: center;
                .bignumber {
                    color: $background-orange;
                    font-family: "futura-pt-bold";
                    font-size: 40px;
                    display:block;
                }
                .subtext {
                    color:$main-font-color;
                }
            }
        }
    }
}