section.home-resolve {
    background-position:bottom right;
    background-repeat:no-repeat;
    background-position-y: 40px;
    background-size: 500px;
    
    @media (max-width: $break-large) {
        background-size: 0;
    }

    .title {
        text-transform:uppercase;
        font-family: "futura-pt-bold";
        font-size:21px;
        color:#000;
    }

    .row {
        align-items: center;
        height: 100%;
        width: $content-width;
        margin:0 auto;
    }
    .left, .right {
        padding:40px;
    }
    .left {
        flex-basis:60%;
    }
    
    .right {
        flex-basis:40%;
        padding:0;
        margin:0;
        
        height:100%;

    }
    form {
        width: 100%;
        display:flex;
        padding: 20px 0;
    }
    .submit {
        text-transform:uppercase;
        font-family: "futura-pt-bold";
        color:#000;
    }
    .input-content, .submit {
        flex:1;
        display:block;
    }
    .input-content {
        flex-basis:70%;
        padding:12px;
        border:2px solid $main-font-color;
        margin-right:20px;
    }
    .submit {
        background-color: $background-orange;
        flex-basis:30%;
        padding:12px 0;
        font-weight:bold;
        border:0;
    }
    .maintext {
        font-weight:bold;
    }
}