body {
    color: $main-font-color;
    font-size:18px;
    font-weight:300;
}
.homepage-header, .single-header {
    width: $content-width;
    margin:0 auto;
}

.row {
    display:flex;
    padding: $standard-padding 0;

    @media (max-width: $break-large) {
        .col {
        }
    }
}
.column {
    flex:1;
    height:25vh;
    padding:20px;
    &.text {
        .content {
            margin: 0;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    &.image {
        .content {
            height:100%;
            width:100%;
            background-size:contain;
            background-repeat:no-repeat;
            background-position: center;
        }
    }
}
@media screen and (max-width: 720px) {
    .column {
        flex:none;
    }
}