$link-color: #000;
$link-arrow: #FAB70C;
$background-grey: #f4f4f4;
$background-blue: #5c7292;
$background-orange: #FAB70C;
$main-font-color: #707070;
$sub-font-color:#8ca19c;

$link-blue: #5c7292;

$content-width:80%;

$standard-padding:60px;
$mobile-padding: 50px;

// Predefined Break-points
$break-xxlarge: 1600px;
$break-xlarge: 1400px;
$break-large: 1260px;
$break-medium: 960px;
$break-small: 480px;
$break-xsmall: 320px;

