section.who-can-apply {    
    
    background-image:url("/images/dot-pattern@2x.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position: 65vw 0;
    margin:80px 0;

    .title {        
        font-family: "futura-pt-bold";
        font-size:21px;
        color:#000;
    }
    .link, .bottomtext {
        margin-top:40px;
    }
    .link {
        font-family: "futura-pt-bold";
    }
    .row { 
        width:$content-width;
        margin:0 auto;
        .right {
            flex-basis:40%;
        }
        .left {
            flex-basis: 60%;
        }
    }
    .specials {
        .col {
            display:flex;
            div {
                display:inline-block;
                margin: 80px 0 0;
            }
            .icon-wrapper {                
                background-color: $background-orange;
                border-radius:50%;
                height:50px;
                width:50px;
                display:block;
                margin-right:40px;
            }
            .icon {
                display:block;
                height:30px;
                width:30px;
                background-repeat: no-repeat;
                background-size:contain;
                background-position:center;
                margin:10px;
            }
        }
    }
}