
<section class="graphics-what">    
    <h2 class="title">WHAT ARE THEY?</h2>
    <div class="graphics-wrapper">
        <div class='circle-line'>
            <svg height="100%" width="100%">
                <line class='path line' x1="50%" y1="10%" x2="50%" y2="90%" fill="none" stroke="#FAB70C" stroke-width="6" />
                <circle class='path circle' cx="50%" cy="10%" r="5" />
                <circle class='path circle' cx="50%" cy="37%" r="5" />
                <circle class='path circle' cx="50%" cy="63%" r="5" />
                <circle class='path circle' cx="50%" cy="90%" r="5" />
            </svg>
        </div>
        <div class="row">
            <div class="cloud left">
                <div class="image">
                    <img src="/images/doi/cloud.svg" />
                </div>
                <div class="texts">
                    <div class="main">
                        A digital identifier of any object
                    </div>
                    <div class="sub">
                        Physical, digital, or abstract
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="row">
            <div></div>
            <div class="laptop right">
                <div class="image">
                    <img src="/images/doi/laptop.svg" />
                </div>
                <div class="texts">
                    <div class="main">
                        Designed to be used by machines
                    </div>
                    <div class="sub">
                        (As well as humans)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="persistent left">
                <div class="image">
                    <img src="/images/doi/persistent.svg" />
                </div>
                <div class="texts">
                    <div class="main">
                        Persistent identifiers
                    </div>
                    <div class="sub">
                        A long-lasting reference to an object or to information about an object
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="row">
            <div></div>
            <div class="example right">
                <div class="texts">
                    <div class="main">
                        Here's an example
                    </div>
                    <div class="sub">
                        <span class='doi-example'>https://doi.org/10.1000/182</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>