<section class="graphics-why">    
    <h2 class="title">Why are they important?</h2>
    <div class="graphics-wrapper">
        <div class='circle-line-lower'>
            <svg height="100%" width="100%">
                <line class='path line' x1="50%" y1="10%" x2="50%" y2="90%" fill="none" stroke="#FAB70C" stroke-width="6"  />
                <circle class='path circle' cx="50%" cy="10%" r="5" />
                <circle class='path circle' cx="50%" cy="37%" r="5" />
                <circle class='path circle' cx="50%" cy="63%" r="5" />
                <circle class='path circle' cx="50%" cy="90%" r="5" />
            </svg>
        </div>
        <div class="row">
            <div class="waypoint left">
                <div class="image">
                    <img src="/images/doi/location.png" />
                </div>
                <div class="texts">
                    <div class="main">
                        They help to keep track of things
                    </div>
                    <div class="sub">
                        Solving a common problem. Knowing what’s what, now and in the future.
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="row">
            <div></div>
            <div class="arrowright right">
                <div class="image">
                    <img src="/images/doi/grey_arrow.png" />
                </div>
                <div class="texts">
                    <div class="main">
                        The DOI is actionable
                    </div>
                    <div class="sub">
                        When you use it something useful will happen
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search left">
                <div class="image">
                    <img src="/images/doi/search.png" />
                </div>
                <div class="texts">
                    <div class="main">
                        They help you find what you need
                    </div>
                    <div class="sub">
                        Wherever it is at any given moment in time
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="row">
            <div></div>
            <div class="resolve right">
                <div class="image">
                    <img src="/images/doi/atom.png" />
                </div>
                <div class="texts">
                    <div class="main">
                        They’re free to resolve
                    </div>
                    <div class="sub">
                        And always will be
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>