<section class="how-many">
    <div class="row titlerow">
        <div class="title">
            How Many are in use?
        </div>
    </div>
    <div class="row numbers">
        <div class="col">
            <span id='leftbignumber' class='bignumber'>0</span>
            <span class='subtext'>{{ .lefttext }}</span>
        </div>
        <div class="col">            
            <span id='rightbignumber' class='bignumber'>0</span>
            <span class='subtext'>{{ .righttext }}</span>
        </div>
    </div><div id="el"></div>
</section>