{{ with .Site.Data.home.announcement }}
<section class='home-announcement'>
    <div class="row">
        <div class="col left">
            <div class="wrapper">
                <img src="{{ .image }}"/>
            </div>
        </div>
        <div class="col right">
            <h2 class="title">{{ .title }}</h2>
            <div class="maintext">{{ .maintext }}</div>

            {{ if .linkurl }}
            <div class='link-alt'>
                <a href="{{ .linkurl }}">{{ .linktext }}</a>
                <i class="fa-solid fa-arrow-right-long hover-move-right"></i>
            </div>

            {{ end }}
        </div>

    </div>
</section>
{{ end }}