<section class="home-infos">
    
    <div class="row">

    {{ range sort .Site.Data.home.infos "weight" }}
        <div class="col" >
            <div class='icon'><img src="{{ .icon }}"/></div>
            <h2 class="title">{{ .title }}</h2>
            <div class="maintext">{{ .maintext | markdownify }}</div>

            <div class='link'>
                <a href="{{ .linkurl }}">{{ .linktext }}</a>
                <i class="fa-solid fa-fw fa-arrow-right-long"></i>
            </div>
        </div>
    {{ end }}
    
</section>