{{ with .Site.Data.home.top }}
<section class="home-top">
    <div class="background" style="background-image:url({{ .image }})"></div>
    <div class="row">
        <div class="col left">
            <div class="maintext">{{ .maintext }}</div>
            <div class="subtext">{{ .subtext }}</div>

            <div class='link'>
                <a href="{{ .linkurl }}">{{ .linktext }}</a>
                <i class="fa-solid fa-fw fa-arrow-right-long"></i>
            </div>
        </div>
        <div class="col right">
            
        </div>

    </div>
</section>
{{ end }}