{{ define "main" }}	
	<main aria-role="main">
		<header class="single-header">
		</header>
			{{ partial "single/top.html" ( dict 
                "imagetop" "Error 404" 
                "imagemain" "Not Found" 
                "maintext" "Sorry, we couldn't find the page you're looking for."
                "subtext" ""
                "linkurl" "/"
                "linktext" "head home"
            )}}
		<div class="page-content">
			<article>
				<div>
					<p>Our site has recently been reorganized. We've tried to make things easier to find, but if you can't find what you're looking for you can <a href="mailto:info@doi.org" title="Email us">email us</a>.</p>
					<p>
				</div>
				
			</article>
		</div>
        {{ partial "socials-side.html" . }}
	</main>
{{ end }}
